<!DOCTYPE html>
<head>

  {# Load the tag library #}
  {% load django_bootstrap5 %}
  {% bootstrap_css %}

  <title>{% block title %}{% endblock title %}</title>
  {% block css %}{% endblock css %}
  {% block javascript_head %}{% endblock javascript_head %}
</head>
<html>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'immoviewer:homepage' %}">ImmobilienViewer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">

              <a class="nav-link {% if active == 'home' %}active{% endif %}" aria-current="page" href="{% url 'immoviewer:homepage' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active == 'list' %}active{% endif %}" href="{% url 'immoviewer:immo-list' %}">List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active == 'map' %}active{% endif %}" href="{% url 'immoviewer:immo-map' %}">Map</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link {% if active == 'list-by-region' %}active{% endif %} dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                List by region
              </a>
              <ul class="dropdown-menu">
                {% for region in regionen %}
                <li><a class="dropdown-item" href="{% url 'immoviewer:immo-list-by-region' uuid=region.uuid %}">{{region.name}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link {% if active == 'create' %}active{% endif %} dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Create
              </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'immoviewer:immo-create-region' %}">Region</a></li>
                <li><a class="dropdown-item" href="{% url 'immoviewer:immo-create-tag' %}">Tag</a></li>
                <li><a class="dropdown-item" href="{% url 'immoviewer:immo-create-immobilie' %}">Immobilie</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search" id="searchform">
            <input class="form-control me-2" id="searchinput" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </ul>
      </div>
    </nav>

 {% block content %}{% endblock content %}
  {# Load CSS and JavaScript #}

  {% bootstrap_javascript %}

  {# Display django.contrib.messages as Bootstrap alerts #}
  {% bootstrap_messages %}
  <script>
       document.getElementById('searchform').addEventListener('submit', function(event) {
          event.preventDefault();

          let baseUrl = '{% url 'haystack-search' %}';
          let query = document.getElementById('searchinput').value;
          if (query) {
              let fullUrl = `${baseUrl}?q=${encodeURIComponent(query)}`;
              window.location.href = fullUrl;
          }
       });
  </script>
</body>
</html>