{% extends "base.html" %}
{% load static %}

{% block title %}Immobilie{% endblock %}

{% block css %}
    <link
      rel="stylesheet"
      href="{% static 'map.css' %}"/>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet/dist/leaflet.css"
      crossorigin=""/>
{% endblock %}

{% block javascript_head %}
    <script
      src="https://unpkg.com/leaflet/dist/leaflet.js"
      crossorigin=""></script>
{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="p-5 text-left bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis text-center">{{immobilie.title}}</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">{{immobilie.description}}</p>
    <ul>
        <li><small class="text-muted">Type: {{immobilie.type}}</small></li>
        <li><small class="text-muted">Price: {{immobilie.price}}</small></li>
        <li><small class="text-muted">Provider: {{immobilie.provider}}</small></li>
        <li><small class="text-muted">Location: {{immobilie.location}}</small></li>
    </ul>
  </div>
</div>
{% if immobilie.lat_lng|length > 0 %}
    <div class="container-lg my-5 bg-body-tertiary rounded-3" id="map">
            <script>
                var mapLatitudeLongitude = {{immobilie.lat_lng}};
                var mapAdress = "{{immobilie.location}}";
            </script>
            <script defer src="{% static 'map.js' %}"></script>
    </div>

{% endif %}


{% endblock %}


