{% extends "base.html" %}

{% block title %}Immobilienliste{% endblock %}

{% block content %}

    <div class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Alle Immobilien</h1>
            <p class="lead">List of saved plot and house offers</p>
            <div class="my-5">
                {% for tag in tags %}
                    {% if tag.slug == tag_slug %}
                        <a href="{% url 'immoviewer:immo-tagged-list' tag.slug %}" class="btn btn-secondary">{{ tag.name }}</a>
                    {% else %}
                        <a href="{% url 'immoviewer:immo-tagged-list' tag.slug %}" class="btn btn-outline-secondary">{{ tag.name }}</a>
                    {% endif %}
                {% empty %}
                    <p>No tags</p>
                {% endfor %}
                <a href="{% url 'immoviewer:immo-list' %}" class="btn btn-primary">All</a>
            </div>
        </div>
        <div class="py-5">
            <div class="row">
                {% for immobilie in immobilien %}
                <div class="col-md-4">
                    <a class="text-dark" href="{% url 'immoviewer:immo-detail' immobilie.uuid %}">
                        <div class="card mb-4 box-shadow">
                            <div class="card-body">
                                <h2 style="font-size:18px;font-weight:bold;min-height:42px;">
                                    {{immobilie.title|truncatechars:50}}</h2>
                                <ul>
                                    <li><small class="text-muted">Type: {{immobilie.type}}</small></li>
                                    <li><small class="text-muted">Price: {{immobilie.price}}</small></li>
                                    <li><small class="text-muted">Provider: {{immobilie.provider}}</small></li>
                                    <li><small class="text-muted">Location: {{immobilie.location}}</small></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
