{% extends "base.html" %}
{% load static %}

{% block title %}Immobilie{% endblock %}

{% block css %}
  <link
  rel="stylesheet"
  href="{% static 'map.css' %}"/>
{% endblock css %}


{% block content %}
<div class="container my-5">
    <a class="btn btn-primary" href="{% url 'immoviewer:immo-update-immobilie' immobilie.uuid %}" role="button">Edit</a>
    <a class="btn btn-secondary" href="{% url 'immoviewer:immo-upload-attachment' immobilie.uuid %}" role="button">Upload attachments</a>
    {% if attachments|length > 0 %}
    <a class="btn btn-secondary" href="{% url 'immoviewer:immo-list-attachments' immobilie.uuid %}" role="button">List attachments</a>
    {% endif %}
    <a class="btn btn-danger" href="{% url 'immoviewer:immo-delete-immobilie' immobilie.uuid %}" role="button">Delete</a>
    <div class="my-5">
        {% csrf_token %}
        <select class="form-control" id="tags-selection"  multiple="multiple">

            {% for tag in alltags %}
                {% if tag in immotags %}
                    <option value="{{ tag.id }}" selected="selected">{{ tag.name }}</option>
                {% else %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endif %}
            {% endfor %}

        </select>

    </div>

  <div class="p-5 text-left bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis text-center">{{immobilie.title}}</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">{{immobilie.description}}</p>
    <ul>
        <li><small class="text-muted">Type: {{immobilie.type}}</small></li>
        <li><small class="text-muted">Price: {{immobilie.price}}</small></li>
        <li><small class="text-muted">Provider: {{immobilie.provider}}</small></li>
        <li><small class="text-muted">Location: {{immobilie.location}}</small></li>
    </ul>
        <p class="text-body-emphasis text-left">Attachments</p>
      <ul>
   {% for attachment in attachments %}
            <li><a href="{{ attachment.attachment.url }}">{{ attachment.name }}</a></li>
    {% endfor %}
      </ul>
  </div>
</div>
{% if immobilie.lat_lng|length > 0 %}
    <div class="container-lg my-5 bg-body-tertiary rounded-3" id="map">
            <script>
                var mapLatitudeLongitude = {{immobilie.lat_lng}};
                var mapAdress = "{{immobilie.location}}";
            </script>
            <script defer src="{% static 'map_marker.js' %}"></script>
    </div>

{% endif %}

{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#tags-selection').select2({
        tags: true,
        tokenSeparators: [",", " "],
        createTag: function (tag) {
            return {
                id: tag.term,
                text: tag.term,
                isNew : true
            };
        }
    }).on("select2:select", function(e) {
        if(e.params.data.isNew){
            console.log("New tag: " + e.params.data.id + ":" + e.params.data.text);
            $.ajax({
                  type: 'POST',
                  url: '{% url "immoviewer:tag-immo" %}',
                  data: {
                    immobilie: "{{ immobilie.uuid }}",
                    tagname: e.params.data.text,
                    tagaction: "add",
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                  },
                  success: function (json) {
                    console.log("Success: " + json);
                  },
                  error: function (xhr, errmsg, err) {
                    console.log("Error: " + errmsg);
                  }
                });
            //$(this).find('[value="'+e.params.data.id+'"]').replaceWith('<option selected value="'+e.params.data.id+'">'+e.params.data.text+'</option>');
        }
    }).on("select2:unselecting", function(e) {
        console.log("Unselecting " + e.params.args.data.id + " : " + e.params.args.data.text);
            $.ajax({
                  type: 'POST',
                  url: '{% url "immoviewer:tag-immo" %}',
                  data: {
                    immobilie: "{{ immobilie.uuid }}",
                    tagname: e.params.args.data.text,
                    tagaction: "remove",
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                  },
                  success: function (json) {
                    console.log("Success: " + json);
                  },
                  error: function (xhr, errmsg, err) {
                    console.log("Error: " + errmsg);
                  }
                });
    });

});
</script>
{% endblock js %}
